body {
    background: url(media/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

#main {
    color: #555;
    font-family: "Helvetica", sans-serif;
    position: relative;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    top: 10%;
}

h1 {
    text-align: center;
}

#nvmc-canvas {
    border: 0.3em solid #eee;
    border-radius: 0.5em;
}

#info {
    padding: 1em 3em;
}

